.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background-color: lavender;
}
.rex {
  display: block;
  grid-auto-flow: row;
  position: static;
  flex-direction: row;
  flex-wrap: wrap;
  height: 3em;
}
.h1 {
  display: block;
  margin: 0;
  text-decoration-color: #000000;
}
.logo {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  position: relative;
}
.a {
  position: relative;
  text-decoration: none;
  color: inherit;
  left: 20px;
}
