@import "../../global_variables";

$header-height: 60px;
$nav-item-margin: 20px;
$logo-height: 70px;

.header {
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $secondary-color;
  .nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      li {
        margin-left: $nav-item-margin;
        display: inline;
        a {
          text-decoration: none;
          color: $primary-color;
          &:hover {
            color: $accent-color;
          }
        }
        .logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          .h1 {
            margin: 0;
          }
          .rex {
            height: $logo-height;
          }
        }
      }
    }
  }
}
