@import "../../global_variables";

$label_top: 10px;
$button_margin: 20px;
$input_padding: 10px 15px;
$input_border_radius: 5px;
$input_border: 1px solid $secondary-color;
$input_width: 70%;
$max-width: 1000px;
$button_padding: 10px 20px;
$button_border: none;
$button_border_radius: 5px;
$button_cursor: pointer;

.form_container {
  font-size: calc(2px + 2vmin);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width;
  margin-top: $label_top;
  .form_field_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form_component {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form_label {
        color: $secondary-color;
      }
      .form_input {
        background-color: $secondary-color;
        padding: $input_padding;
        border-radius: $input_border_radius;
        border: $input_border;
        width: 100%;
        box-sizing: border-box;
        &.error {
          border: solid 3px red;
        }
      }
      .error_message {
        color: red;
        margin: 0;
      }
      .form_button {
        background-color: $accent-color;
        color: $secondary-color;
        padding: $button_padding;
        border: $button_border;
        border-radius: $button_border_radius;
        cursor: $button_cursor;
        width: 100%;
        box-sizing: border-box;
        margin-top: $button_margin;
      }
    }
    .form_prices {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .divider {
        color: $secondary-color;
        margin-top: $label_top;
        font-size: larger;
      }
    }
  }
}

.currencyContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  .currency {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .currency_label {
      color: $secondary-color;
      margin-top: $label_top;
      display: flex;
      justify-content: center;
    }
    .form_input {
      text-align: center;
    }
  }
}
