@import "../../global_variables";

$label_margin: 10px;
$button_margin: 20px;
$input_padding: 10px 15px;
$input_border_radius: 5px;
$input_border: 1px solid $secondary-color;
$input_width: 70%;
$button_background_color: $accent-color;
$button_text_color: $secondary-color;
$label_color: $secondary-color;
$button_padding: 10px 20px;
$button_border: none;
$button_border_radius: 5px;
$button_cursor: pointer;

.form_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 700px;
  .form_field_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form_component {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form_label {
        color: $label_color;
        margin-top: $label_margin;
      }
      .form_input {
        background-color: $secondary-color;
        padding: $input_padding;
        border-radius: $input_border_radius;
        border: $input_border;
        width: 100%;
        box-sizing: border-box;
      }
      .form_button {
        background-color: $button_background_color;
        color: $button_text_color;
        padding: $button_padding;
        border: $button_border;
        border-radius: $button_border_radius;
        cursor: $button_cursor;
        width: 100%;
        box-sizing: border-box;
        margin-top: $button_margin + $label_margin;
      }
    }
    .form_prices{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .divider {
        color: $label_color;
        margin-top: $label_margin;
        font-size: larger;
      }
    }
  }
}

.currencyContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add the desired gap between columns */
  justify-content: center; /* Center the columns horizontally */
}

.currency {
  width: 40%; /* This will create the two-column layout */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add the desired gap between the elements */
  align-items: center; /* Center the elements inside the column */
}

.currency_label {
  color: $secondary-color;
  margin-top: $label_margin;
  display: flex;
  justify-content: center; /* Center the label text horizontally */
}

.form_input {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center; /* Center the input text */
}
